<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="../../public/css/main.css">
        <link rel="stylesheet" href="../../public/css/page-add-quotes.css">
        <link rel="stylesheet" href="../../public/css/button.css">

        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap" rel="stylesheet">

        <link rel="icon" href="../../public/img/quotes.webp">

        <title>Add Quotes</title>
    </head>
    <body>
        <div id="page-add-quotes">
            <main>
                <form action="">
                    <fieldset>
                        <legend>Quote</legend>

                        <div class="input-group">
                            <label for="quote">Citação 
                                <span>Digite sem aspas em volta</span>
                            </label>
                            <textarea name="quote" id="quote" required cols="30" rows="10"></textarea>
                        </div>
                    </fieldset>

                    <fieldset>
                        <legend>Autor</legend>

                        <div class="input-group">
                            <label for="name">Nome</label>
                            <input id="name" name="author" required>
                        </div>

                        <div id="new-quote" class="hidden">
                            <fieldset class="new-quote">
                                <legend>Nova quote
                                    <span onclick="deleteField(event)">
                                        <img src="../../public/img/remove-quote.svg" alt="Remover quote" title="Remover Nova quote">
                                    </span>
                                </legend>  

                                <div class="input-group">
                                    <label for="quote">Citação 
                                        <span>Digite sem aspas em volta</span>
                                    </label>
                                    <textarea name="quote" id="quote" cols="30" rows="10"></textarea>
                                </div>

                                <div class="input-group">
                                    <label for="name">Nome</label>
                                    <input id="name" name="author">
                                </div>
                            </fieldset>
                        </div>

                        <button 
                            type="button" 
                            class="button more hidden"
                            onclick="addNewQuoteField()"
                        >
                            <img src="../../public/img/add-quote.svg" alt="Nova quote" title="Adicionar mais quotes"> 
                        </button>
                    </fieldset>

                    <button type="submit" class="button submit-button">Adicionar quote</button>
                </form>
            </main>  
        </div>
        <script src="../../public/scripts/add-quotes.js"></script>
    </body>
</html>