<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../public/mystyle.css">
    <link rel="icon" href="../../public/img/quotes.webp" type="image/x-icon">
    <script type="text/javascript" src="../../public/quotes.js"></script>
    <title>Quotes</title>
  </head>

  <body>
    <div class="container">
      <blockquote>
        <span id="text"></span>
        <i>
          <p>
            <span id="author"></span>
          </p>
        </i>
      </blockquote>
    
      <div>
        <button type="button" id="newQuote">Nova citação</button>
      </div>
    </div>
  </body>
</html>