<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../public/css/main.css">
    <link rel="stylesheet" href="../../public/css/page-landing.css">
    <link rel="stylesheet" href="../../public/css/button.css">
    
    <link rel="icon" href="../../public/img/quotes.webp">
    
    <title>Quotes</title>
  </head>

  <body>
    <div id="page-landing">
      
        <blockquote>
          <span id="text"></span>
          <i>
            <p>
              <span id="author"></span>
            </p>
          </i>
        </blockquote>
        
        <button 
          type="button" 
          class="button-home" 
          id="newQuote" 
          onclick="getNewQuote();"
        >
          &#8635;
        </button>

    </div>
  </body>
  <script type="text/javascript" src="../../public//scripts/quotes.js"></script>
</html>